<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <title id = "title">{{title}}</title>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="../css/navstyle.css">
        <link rel="stylesheet" href="../css/feedstyle.css">
        
    </head>
    
    <body>
        <div id = "wholepost">
            <div id = "posts">
                <div id = "headingpost">{{title}}<br></div>

                {{#each recipe_post}}
                    <div id = "content">
                        <a href = "/recipes/{{_id}}"><div class = "postpic"> <img src = "{{this.recipe_img}}" class = "posting" onerror="this.src='../img/defaultfood.jpg'"> </div></a>
                        <div class = "post-info"> 
                            <a href = "/recipes/{{_id}}"><div class = "recipe-name" name = "recipename">{{recipe_name}}</div></a>
                            <div class = "uname-cat"> <a href="/profile/{{recipe_owner}}"><img src="{{profilepic}}" id ="imageprof" onerror="this.src='../img/default.png'"></a>
                                <a id = "recipe_owner" href = "/profile/{{recipe_owner}}"> @{{recipe_owner}} </a> 
                                <i class="far fa-list-alt icon"></i> {{recipe_category}}
                            </div>
                            <div class = "postdesc"> {{recipe_description}} </div>
                        </div>
                    </div>
                {{/each}}       
            </div>
            
            <div id = "sidebar">
                <div class="categories">
                    <h2 class="categories-title" style="font-family: sans-serif; letter-spacing: 2px; font-weight: bolder;">CATEGORIES</h2>
                    <ul id = "categories-list">
                        <li><a href="/recipes/appetizers-and-snacks" class = "" id = "appetizers-and-snacks"> Appetizers &amp; Snacks</a></li>
                        <li><a href="/recipes/breakfast" class = "" id = "breakfast">Breakfast</a></li>
                        <li><a href="/recipes/desserts" class = "" id = "desserts">Desserts</a></li>
                        <li><a href="/recipes/drinks" class = "" id = "drinks">Drinks</a></li>
                        <li><a href="/recipes/lunch-and-dinner" class = "" id = "lunch-and-dinner">Lunch &amp; Dinner</a></li>
                        <li><a href="/recipes/pastries" class = "" id = "pastries">Pastries</a></li>
                        <li><a href="/recipes/salads" class = "" id = "salads">Salads</a></li>
                        <li><a href="/recipes/others" class = "" id = "others">Others</a></li>
                        <li><a href="/recipes" class = "" id = "all-recipes">All Recipes</a></li>
                    </ul>
                </div>
            </div>   
        </div> 
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });
            });
            
            var title = document.getElementById('title').textContent;
            if (title == "Appetizers &amp; Snacks")
            {
                document.getElementById('appetizers-and-snacks').setAttribute("class", "active");
            }
            else if (title == "Breakfast")
            {
                document.getElementById('breakfast').setAttribute("class", "active");
            }
            else if (title == "Desserts")
            {
                document.getElementById('desserts').setAttribute("class", "active");
            }
            else if (title == "Drinks")
            {
                document.getElementById('drinks').setAttribute("class", "active");
            }
            else if (title == "Lunch &amp; Dinner")
            {
                document.getElementById('lunch-and-dinner').setAttribute("class", "active");
            }
            else if (title == "Pastries")
            {
                document.getElementById('pastries').setAttribute("class", "active");
            }
            else if (title == "Salads")
            {
                document.getElementById('salads').setAttribute("class", "active");
            }
            else if (title == "Others")
            {
                document.getElementById('others').setAttribute("class", "active");
            }
            else if (title == "All Recipes")
            {
                document.getElementById('all-recipes').setAttribute("class", "active");
            }
        </script>
  </body>
</html>