<head>
    <title>{{title}}</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        
    <link rel="stylesheet" href="../css/profilestyle.css">
    <link rel="stylesheet" href="../css/navstyle.css">
    <link rel="stylesheet" href="../css/recipeposts.css">
    
    <script>
        $(document).ready(function(){
            $(".search-icon").click(function(){
                $(".search-box").toggle();
                $(".search-box input[type='text']").focus();
            });

            $(".button-delete").click(function(){
                $(this).parent().remove();
            });
        }); 
        
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#pic').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        
        function favorite(){
            if($("#addtofav").val() == "Favorited")
                $("#addtofav").val("Add to Favorites");
            else
                $("#addtofav").val("Favorited");
        }

        function openEditForm() {
                document.getElementById("editForm").style.display = "block";
                document.getElementById("disablediv").style.display = "block";
            }

            function closeEditForm() {
                document.getElementById("editForm").style.display = "none";
                document.getElementById("disablediv").style.display = "none";
            }   

        function saveEditForm() {
                document.getElementById("editForm").style.display = "none";
                window.location.href="/profile/saveEdit";
        }

        
        
    </script>
    
</head>

<body>
    <div id = "wholepost">
    {{#each profile}}
    <div id = "profile">
        <img src="{{profilepic}}" id ="imageprof" alt="Avatar">
        <div id = "profilename"> {{fullname}} </div>
        <a href="#"><div id = "uname" name = "uname">@{{uname}}</div></a>
        <div class = "usercredibility" style="align-items: center; justify-content: center;">
            <i class = "material-icons">verified_user</i>
            <div id = "credibility"> {{credibility}} </div>
        </div>
        <div id = "favorites"> <i class = "material-icons">favorite</i> {{favorites}} Favorites </div>
        
        <input type="button" class = "buttons" value = "Edit Profile" id = "editprofilebtn" onclick = "openEditForm()">
            <a href ="/profile/faveuser"><input type="button" class = "buttons" value = "Favorite Users"></a>
            <a href ="/profile/faverecipes"><input type="button" class = "buttons" value = "Favorite Recipes"></a>
            {{/each}}
    </div>  
    
    <div id = "posts">
        
        <div id = "headingpost">Recipes<br>
            <a href = "/createpost">
            <input type = "button" value = "Post a Recipe" class = "buttons"></a>
        </div>
        
        {{#each recipes}}
        <div class = "content">
            <a href="/recipes/{{_id}}"> <!-- {{ref}} -->
                <img src = "{{recipe_img}}" class = "posting">
                <span class = "recipe-name" id = "recipename"> {{recipe_name}} </span> <br>
                <p class = "recipedesc">{{recipe_description}}</p>
            </a>
            <input type="button" class = "button-delete" value = "Delete">
        </div>
        {{/each}}
        
    </div>
        
        
         <div class="form-popup" id="editForm">
                <form action = "/profile/updateProfile" method = "POST" class="form-container" enctype="multipart/form-data">
                    <h1>Edit Profile</h1>
                    
                    <div><label for="editimageprof"><b>Profile Picture</b></label></div>
                    <input type="file" id="editimageprof" name="editimageprof" accept="image/*" onchange="readURL(this);" >

                    <div><label for="editprofilename"><b>Full Name</b></label></div>
                    <input type="text" placeholder="" name="editprofilename" >

                    <div><label for="editusername"><b>Username</b></label></div>
                    <input type="text" placeholder="" name="editusername" >
                    
                    <div><label for="credibility"><b>Credibility</b></label></div>
                    <input type="text" placeholder="" name="credibility">

                    
                    
                    <div class="btn-container">
                        <input type="submit" class="btn" value="Save">
                        <button type="button" class="btn cancel" onclick="closeEditForm()">Close</button>
                    </div>

                </form>
            </div>
        
        <div id="disablediv">
        </div>
    </div>
</body>