<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <title>{{fullname}}'s Profile</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="css/profilestyle.css">
        <link rel="stylesheet" href="css/navstyle.css">
        <link rel="stylesheet" href="css/userfav.css">
        
        <script>
            $(document).ready(function(){
                $(".search-icon").click(function(){
                    $(".search-box").toggle();
                    $(".search-box input[type='text']").focus();
                });
            });
            
            
            function openEditForm() {
                document.getElementById("editForm").style.display = "block";
                document.getElementById("disablediv").style.display = "block";
            }

            function closeEditForm() {
                document.getElementById("editForm").style.display = "none";
                document.getElementById("disablediv").style.display = "none";
            }            
            
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#pic').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            
        </script>
        
    </head>
    
    <body>
        <div id = "wholepost">
        {{#each profile}}
        <div id = "profile">
            <img src="{{profilepic}}" id ="imageprof" alt="Avatar">
            <div id = "profilename"> {{fullname}} </div>
            <a href="#"><div id = "uname">{{uname}}</div></a>
            <div class = "usercredibility" style="align-items: center; justify-content: center;">
                <i class = "material-icons">verified_user</i>
                <div id = "credibility"> {{credibility}} </div>
            </div>
            <div id = "favorites"> <i class = "material-icons">favorite</i> {{favorites}} Favorites </div>
            
            <input type="button" class = "buttons" value = "Edit Profile" id = "editprofilebtn" onclick = "openEditForm()">
            <input type="button" class = "buttons" value = "Favorite Users" id = "active">
            <a href ="../../favrecipe/favrecipe-sam/faverecipes-sam.html"><input type="button" class = "buttons" value = "Favorite Recipes"></a>
        {{/each}}
        </div>  
            
        
            <div id = "posts">
                <div id = "headingfavusers">Favorite Users<br></div>

                {{#each users}}
                <div id = "content">
                    <a href = "{{ref}}"><img src="{{favprofilepic}}" class ="userprof" alt="Avatar"></a>
                    <div class = "userinfo">
                        <a href = "{{ref}}"><div class = "username"> {{favfullname}} </div> </a>
                        <a href = "{{ref}}"><div class = "uname">{{favuname}} </div></a>  
                        <div class = "usercredibility">
                            <i class = "material-icons">verified_user</i> {{favcredibility}} </div>
                    </div>
                </div>
                {{/each}}
            </div>
            
            
            
            <div class="form-popup" id="editForm">
                <form action="/action_page.php" class="form-container" enctype="multipart/form-data">
                    <h1>Edit Profile</h1>
                    
                    <div><label for="editimageprof"><b>Profile Picture</b></label></div>
                    <input type="file" id="editimageprof" name="editimageprof" accept="image/*" onchange="readURL(this);" >

                    <div><label for="editprofilename"><b>Full Name</b></label></div>
                    <input type="text" placeholder="" name="editprofilename" >

                    <div><label for="editusername"><b>Username</b></label></div>
                    <input type="text" placeholder="" name="editusername" >
                    
                    <div><label for="credibility"><b>Credibility</b></label></div>
                    <input type="text" placeholder="" name="credibility">
                    
                    <div class="btn-container">
                        <button type="button" class="btn" onclick="closeEditForm()">Save</button> <!-- type="submit"??? -->
                        <button type="button" class="btn cancel" onclick="closeEditForm()">Close</button>
                    </div>

                </form>
            </div>
            
            <div id="disablediv">
            
            
            </div>
        
        </div>
          
  </body>
    
</html>
